body{
    display: grid;
    place-items: center;
    height: 100vh;
    background: black;
    color: peru;
}

button {
    color: #b10505;
    background-color: #fff;
    border: 1px solid #000;
}

